$white: rgb(255,255,255);
$black: rgb(0,0,0);
$red: rgb(255,0,0);
$green: rgb(0,255,0);
$blue: rgb(0,0,255);
$grey: rgb(100,100,100);

$website-font-size: 18px;
$website-font: "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif;
$website-background: rgb(239, 239, 239);
$webiste-navbar-color: rgb(77,77,77);
